<!doctype html>

	<head>
		<link rel = "stylesheet" href= '/static/bootstrap.min.css'/>
	</head>
		<style>						
	
	.jumbotron h1 {
	
	color: #9C8C8C;
	
	}
	
	.row {
	
	margin-left: 50px;
	
	}
	
	
	</style>

	<body>
		<div class="container">
			<div class= "jumbotron">
			<h1>Welcome to the BLE-IOT Server!</h1>
			<p>A project by ISTE- NITK </p>
			</div>
		</div>	
		<div class="row">
			
				<h1>Implemented in Flask web framework for mobile phone- server communication.</h1>
				<h1>This webpage uses dynamic bootstrap, and is suitable for most screen sizes.</h1>
				<h1>Server design by Aniket Rege</h1>
			
		</div>
	</body>

</html>